{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Maboxtv {% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenu {{app.user.firstname}} {{app.user.lastname}} dans votre compte .
    <hr>
    <a href="{{ path('app_account_password') }}" > Modifier mon mot de passe. </a><br>
{#    <a href="{{ path('account_address') }}" > Gérer mes addresses. </a><br>#}
{#    <a href="{{ path('account_order') }}" > Mes commandes </a><br>#}
    <hr>

{% endblock %}
